<ion-header>
  <ion-navbar color="default">

    <ion-title>
      DirectFeeds
    </ion-title>

    <ion-buttons end>
      <button (click)="refresh()" ion-button icon-only color="royal">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards" style="background: #e8e8e8;">

  <ion-grid>
    <ion-row>
      <ion-col col-md-6 offset-md-3>

        <ion-card *ngFor="let tweet of tweets">

          <ion-item>
            <ion-avatar item-start>
              <img src="{{(tweet.userProfileUrl).replace('http','https')}}">
            </ion-avatar>
            <h2>{{tweet.username}}</h2>
            <p>@{{tweet.userScreenName}}</p>
          </ion-item>

          <ion-card-content>
            <div>{{tweet.tweet}}</div>
          </ion-card-content>

          <ion-row>
            <ion-col col-sm-10>
              <a *ngIf="tweet.tweetUrls.length" target="_blank"
                 href="{{tweet.tweetUrls}}" ion-button color="primary" clear small icon-start>
                <ion-icon name='link'></ion-icon>
                {{tweet.tweetUrls}}
              </a>
            </ion-col>
            <ion-col align-self-center text-center  col-sm-2>
              <ion-note>
                {{tweet.createdAt | timeAgo}}
              </ion-note>
            </ion-col>
          </ion-row>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
